---
---

@import "{{ site.theme }}";

header li {
  width: 80px;
}

header ul li + li + li {
  width: 107px;
}

header ul a {
  line-height: 1.25;
}

@media print, screen and (max-width: 480px) {
  header li, header ul li + li + li {
    width: 33%;
  }
}
