<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-34776817-2"></script>
    <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}

       gtag('js', new Date());
       gtag('config', 'UA-34776817-2');
    </script>

  </head>
  <body>
    <div class="wrapper">
      <header>
        <img src="{{ '/assets/images/ood_logo_stack_rgb.svg' | relative_url }}"
         onerror="this.src='{{ '/assets/images/ood_logo_stack_rgb.png' | relative_url }}'; this.onerror=null;">
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
          <li><a href="https://osc.github.io/ood-documentation/latest/">Read The <strong>Docs</strong></a></li>
          <li><a href="https://discourse.osc.edu/c/open-ondemand">Discuss on <strong>Discourse</strong></a></li>
        </ul>
        <ul>
          <li><a href="https://figshare.com/authors/OH-TECH_Consortium/5131358">Download our<strong>Figshares</strong></a></li>
          <li><a href="https://twitter.com/open_ondemand">Posts on <strong>Twitter</strong></a></li>
          <li><a href="https://lists.osu.edu/mailman/listinfo/ood-users">Join the <strong>News List</strong></a></li>
        </ul>
        <p>Don't hesistate to reach out to the developers via our <a href="https://discourse.osc.edu/c/open-ondemand">Discourse instance</a> if you would like more information or need help installing or configuring Open OnDemand.</p>
        <p>
          <small>
            Please cite us <a href="https://doi.org/10.21105/joss.00622"> Hudak et al., (2018). Open OnDemand: A web-based client portal for HPC centers. Journal of Open Source Software, 3(25), 622, https://doi.org/10.21105/joss.00622 </a>
          </small>
        </p>
        <p>
          <small>
            This material is based upon work supported by the
            <a href="https://www.nsf.gov">National Science Foundation</a>
            under grant numbers
            <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1534949">1534949</a> and <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1835725">1835725</a>.
            and under active development by a team from the
            <a href="https://www.osc.edu/">Ohio Supercomputer Center</a>, <a href="http://www.buffalo.edu/ccr.html">U. of Buffalo CCR</a>, and <a href="https://arc.vt.edu/">Virginia Tech</a>
          </small>
        </p>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>


  {% if site.google_analytics %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
  {% endif %}
  </body>
</html>
